@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    --background: #1e1e1e;
    --foreground: #FFFFFF;
    --primary: #853BFF;
    --primary-foreground: #FFFFFF;
    --secondary: #B89D19;
    --footer:#C9C8C4;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary)
}