.slotbox { 
    position: relative;
    --mask:
      radial-gradient(40px at 40px 40px,#0000 calc(98% - 10px),#000 calc(100% - 10px) 98%,#0000) -40px -40px,
      linear-gradient(90deg,#000 20px,#0000 0) -10px 50% /100% calc(100% - 80px + 10px) repeat-x,
      linear-gradient(      #000 20px,#0000 0) 50% -10px/calc(100% - 80px + 10px) 100% repeat-y;
  }
  
  
  .slotbox:before {
    content: "";
    position: absolute;
    inset: 0;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }